<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-06-22T01:06:12Z</date>
	<key>WorkspacePath</key>
	<string>/Users/genebacklin/Documents/GitHub/HamTester/src/HamTester/HamTester.xcodeproj</string>
</dict>
</plist>
